<form class="create-user-form">
  <legend>Create User</legend>
  <label>First Name</label>
  <input type="text" name="first_name"/>
  <label>Last Name</label>
  <input type="text" name="last_name"/>
  <label>img_url</label>
  <input type="text" name="img_url"/>
  <label>bio</label>
  <input type="text" name="bio"/>
  <label>Mission</label>
  <input type="text" name="mission"/>
  <hr />

  <button type="submit" class="btn">submit</button>

  

   
</form>