// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.followers {
  margin-top: 20px;
  margin-bottom: 20px;
}

.follow-button {
  float: left;
  margin-right: 20px;
  margin-top: 7px;
}

img.follower {
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 40px;
  border: 2px solid #66CC99;
}